.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 720px;
    height: 720px;
}

.grid {
    background-color: whitesmoke;
}

.hover {
    background-color: black;
}

.userInput {
    margin: 10px;
}

input {
    border: 1px solid grey;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 12px;
    width: 46px;
}

button {
    width: 92px;
    height: 36px;
    font-size: 16px;
    border-radius: 5px;
}